<html>
  <body>
    <h2>Contact Us Email</h2>
    <p>Topic: {{ topic }} {{ customTopic }}</p>

    <p style="margin: 15px 0px;">{{ message }}</p>

    <p>{{ name }}, {{ email }}</p>
    <p>{{ country }}, {{ phone }}</p>

    <p style="margin-top: 15px;">
      Best regards,<br>Algrith LLC
    </p>
  </body>
</html>