<html>
  <body>
    <h2>Contact Us Email</h2>
    <p>{{ topic }} {{ customTopic }}</p>
    <p>{{ message }}</p>

    <p>{{ name }}</p>
    <p>{{ email }}</p>
    <p>{{ country }}</p>
    <p>{{ phone }}</p>
    <p>Best regards,<br>Algrith LLC</p>
  </body>
</html>